body, input[type="text"], button {
    font-family: 'Oswald', 'Verdana', 'Arial', sans-serif;
  }
  
  .return-home,
  .return-home:visited {
    color: #4F3674;
    text-decoration: none;
  }
  
  .return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
  }
  
  .app-header, .card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
  }
  
  #container {
    padding: 10px;
    margin: 2% 5% 100px;
  }
  
  button {
    background-color: #4F3674;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 25%;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
  }
  
  button:hover {
    background-color: #D6A800;
  }
  
  .card-content label, 
  .card-content input[type="text"],
  .card-content button {
    display: inline-block;
  }
  
  #card-content {
    text-align: center;
    font-size: 25px;
  }
  
  /* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

.javazonTable th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #4F3674;
    color: white;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.javazonTable td, th {
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.5;
}

tr:hover {
    background-color: #D6A800;
    color: #4F3674;
    cursor: pointer;
}

/* Other styles */
.app-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.drop-down-menu {
    width: 100%;
    margin: 10px 0;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
}

.card-title {
    font-weight: 500;
}

.card-content {
    padding: 15px;
}

.return-home {
    text-decoration: none;
    color: #4F3674;
}

.card-content label,
.card-content select.drop-down-menu,
.card-content button {
  display: inline-block;
  vertical-align: middle;
}

.drop-down-menu {
  width: auto;
  margin-left: 10px;
}

#booksCard .card-content,
#authorsCard .card-content {
  font-size: 22px;
  padding: 15px
}

#booksCard .card-title,
#authorsCard .card-title {
  font-size: 22px;
  padding: 15px
}

th {
    padding: 15px;
    text-align: left;
    background-color: #4F3674;
    color: white;
    border: 1px solid #ddd;
}

td {
    padding: 15px;
}
