// Why make this file if payroll.html refers to the global style sheet? I copied these styles over to site.css.

#payroll-header {
   text-align: center;
}

#list {
    border: 1px dotted red;
}


.return-home {
  color: #4F3674;
  text-decoration: none;
}

.return-home:hover {
  background-color: #D6A800;
  color: #4F3674;
}

.return-home:visited {
  color: #3C275A;
}
